<div class="metadata-item" @onclick="() => OnSelect()">
        <div>
        <span>@metadata.TagName</span>
        </div>
             <a href="@metadata.TagValue" target="_blank" class="metadata-link">
        🔗 @metadata.TagValue
        </a>
</div>

@code {
    
    [Parameter]
    public EventCallback<Metadata> OnSelected { get; set; }
    //Todo : add event handler that will get called when the object is selected that propagates the event to the parent component
    public void OnSelect()
    {
        if(OnSelected.HasDelegate)
        {
            OnSelected.InvokeAsync(metadata);
        }
    }


    [Parameter]
    public Metadata metadata { get; set; } = new Metadata();

   

}
