@foreach (var item in metadata)
{
    <div>
        <div class="metadata-item" @onclick="() => OnSelect(item)">
            <div>
                <span>@item.TagName</span>
            </div>
            <a href="@item.TagValue" target="_blank" class="metadata-link">
                🔗 @item.TagValue
            </a>
        </div>
    </div>
}



@code {
    
    [Parameter]
    public EventCallback<Metadata> OnSelected { get; set; }
    //Todo : add event handler that will get called when the object is selected that propagates the event to the parent component
    public void OnSelect(Metadata item)
    {
        if(OnSelected.HasDelegate)
        {
            OnSelected.InvokeAsync(item);
        }
    }


    [Parameter]
    public List<Metadata> metadata { get; set; } = new List<Metadata>();

   

}
